<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
        /* Load Open Sans from Google Fonts */
        body {
            font-family: 'Open Sans', sans-serif;
            /* Other global styles for your body */
        }
    </style>

    <title>Chat Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
               <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
   
<div class="grid-container">
    <div class="info-container"> <h1>{{ session.gameinfo.title }}</h1>
        <div class="info-card">
            <h2>User's - Things to Know</h2>
            <ul>
            <ul>
                <li>{{ session.gameinfo.user_role[2:7] }}</li>
                {{ session.gameinfo.user_role.1 }}</li>
                <li>{{ session.gameinfo.objectives.0 }}</li>
                <li>{{ session.gameinfo.win_conditions.0 }}</li>
            </ul>
            <h2>Ai's - Tasks</h2>
            <ul>
                <li>{{ session.gameinfo.ai_role }}</li>
                <li>{{ session.gameinfo.objectives.1 }}</li>
                <li>{{ session.gameinfo.win_conditions.1 }}</li>
            
            </ul>   
        </div>
    </div>

    <div class="message-container">
        <div id="messageHistory" class="message-history">
            <p><strong>Message History</strong></p>
            <div class="user message"  id="user">         <h2><strong>Scene:       </strong> </h2> <p> {{ session.gameinfo.scenario }}</p></div>
            <div  class="ai message" id="ai">         <h2><strong>Scene:       </strong> </h2> <p> {{ session.gameinfo.scenario }}</p></div>
        </div>

        <div class="message-input">
            <form id="messageForm">
                <input type="text" id="messageInput" name="message" placeholder="Type your message here">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="win-check-container">
        
            <p><strong>Win Check</strong></p>
            
                <button id="winCheckButton">Win Check</button>
            
            <div id="winCheckstat" class="winCheckstat"></div>
                <div id="evaluation-results"></div>
</div
<script async src="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js"></script>
<div
    data-ap-widget-type="expressPaymentButton"
    data-ap-signature="O2w62virXShwNb1mtUqBdx1fvRWv2H0r6CgcSjSnlso%3D"
    data-ap-seller-id="A81MS2RXQZUNR"
    data-ap-access-key="AKIAJQT2GFN7SZJJPRRA"
    data-ap-lwa-client-id="amzn1.application-oa2-client.20c481950e8d4b0296af7cd3fc4fdee1"
    data-ap-return-url="http://www.recoveryrebels.org"

        data-ap-cancel-return-url="http://www.recoveryrebels.org/cancel"

    data-ap-currency-code="USD"
    data-ap-amount="10.00"
    data-ap-note="this is subscibtion to monthly RPIQ"
    data-ap-shipping-address-required="false"
    data-ap-payment-action="None"
>
</div>

<div class="footer">
    <p class="foot"> Created by: ❤️ Benny ❤️ </p>
</div>

    <script>
      // Assuming `jsonData` is your JSON data
     
    
      function createMetricsHTML(metrics) {
        return Object.entries(metrics).map(([key, value]) => `
          <div class="stats" id="${key.toLowerCase()}">
            <h3 class="title-right">${key}:</h3>
            <div class="score-feedback">
              <div class="score">${value.Score}</div>
              <p class="feedback">${value.Feedback}</p>
            </div>
          </div>
        `).join('');
      }
    
    
      function createWinAssessmentHTML(winAssessment) {
        return `
          <div class="stats" id="win-assessment">
            <p class="winner"><strong>Winner:</strong> ${winAssessment.Winner}</p>
            <p class="winner-text"><strong>Reason for Win:</strong> ${winAssessment.ReasonForWin}</p>
            <div class="score-feedback">
              ${Object.entries(winAssessment.PercentageMetrics).map(([role, percentage]) => `
                <p class="feedback"><strong>${role}:</strong> ${percentage}</p>
              `).join('')}
            </div>
          </div>
        `;
      }
    
      // Main function to generate HTML
      function generateEvaluationHTML(jsonData) {
        const evaluationResults = document.getElementById('evaluation-results');

        // Clear the HTML
        evaluationResults.innerHTML = '';

        // Generate Metrics HTML
        evaluationResults.innerHTML += createWinAssessmentHTML(jsonData.WinAssessment);
        evaluationResults.innerHTML += createMetricsHTML(jsonData.Metrics);
    }

        
        // Generate Win Assessment HTML
    
      // Run the function with the provided data

        // Add the missing import statement for the 'io' module
        // FILEPATH: /c:/Users/submi/OneDrive/Documents/pythonProjects/rpiq/RPIQ/templates/chat.html
            // Add the missing import statement for the 'io' module
            // Add the missing import statement for the 'io' module
                var socket = io();

                // Add an event listener to the 'messageForm' that will emit the 'message' event
                // and send the message to the server
                document.getElementById('messageForm').addEventListener('submit', function(e) {
                    e.preventDefault();
                    const inputedMsg = document.getElementById('messageInput').value;
                    const messageelement = document.createElement('div');
                    const useris = "user"
                    messageelement.setAttribute('class', 'user message');
                    messageelement.innerHTML = `<h2><strong>${useris}  </strong> </h2> <p>${inputedMsg}</p>`;
                    document.getElementById('messageHistory').appendChild(messageelement)
                    var data = {
                        sender: useris,
                        message: inputedMsg
                    };
                    console.log(data)
                    socket.emit('message', JSON.stringify(data));
                    document.getElementById('messageInput').value = '';
                    return false;
                });

                // Add an event listener to the 'winCheckButton' that will emit the 'winCheck' event
                // and send the message to the server
                document.getElementById('winCheckButton').addEventListener('click', function(e) {
                    e.preventDefault();
                    socket.emit('win_check', "win_check");
                    
                    return false;
                });
                
                // add socket event listeners here for win_check and message separately 
                socket.on('message', function(msg) {
                    console.log(msg);
                    
                    if (msg.sender == 'Ai' ) {
                        console.log("ai")
                        var message = document.createElement('div');
                        //var messagedata = JSON.parse(msg);
                        message.setAttribute('class', 'ai message');
                        message.innerHTML = '<h2><strong>Ai:       </strong> </h2> <p>' + msg.message + msg.sender + '</p>';
                        document.getElementById('messageHistory').appendChild(message);
                        // this needs to be an elif statment for the win check and if it win check needs to parse the json and display the data with the generateEvaluationHTML function
                    } else if (msg.sender == 'user') {
                        console.log("user")
                        var message = document.createElement('div');
                        message.setAttribute('class', 'usermessage');
                        message.innerHTML = `<div class="${msg.sender}<h2><strong>User:       </strong> </h2> <p>' + ${msg.message + msg.sender} + '</p>'</div>`;
                        document.getElementById('messageHistory').appendChild(message);
                    } else if (msg.sender == 'win_check') {
                        console.log("win 4check")
                        var woncheckelement = document.getElementById("win-check-container")
                        var wcelement = document.createElement('div');
                        wcelement.setAttribute('class', 'winCheckstat');

                        message.setAttribute('class', 'stats');
                        message.innerHTML = '<h2><strong></strong> </h2> <p>' + msg.message + '</p>';
                    }
                });
                
                // the win check listener should update the text of the 'winCheck' element
                // with the message sent from the server
                socket.on('win_check', function(msg) {
                    console.log("wincheck")

                    if (msg.message){
                        const data = msg.message
                        console.log("data\n",data)
                        const winCheckstat = document.getElementById('winCheckstat');
                        const json_data = JSON.parse(data);
                        console.log("json_data\n",json_data)
                        // now with the json data we can update the html
                        generateEvaluationHTML(json_data)

                        
                    }
                    else {
                        console.log("no message")
                    }
                

                
                });
            </script>
</body>
</html>
