<!-- role_selection.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="choose-card">
    <h1>Choose a Roleplay</h1>

    <ul>
        {% for title in titles %}
            <li><a href="{{ url_for('role_selection', category=category, title=title) }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
